@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  background-image: url("/public/art/chess-bg2.png");
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

label {
  margin: 0 10px;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1200px;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: rgba(8, 6, 6, 0.8);
}

.controls {
  display: flex;
  margin: 10px;
  padding: 10px;
}

#auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* margin: 25px; */
}

#auth-page > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px 64px;
  background-color: rgba(49, 41, 41, 0.4);
  border: 1px solid black;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.337);
  border-radius: 5%;
}

#chat-container {
  border: 1px solid black;
  background-color: rgb(197, 182, 161, 0.2);
  height: 200px;
  width: 540px;
  flex-grow: 1;
  overflow-y: auto;
}

#chat-container > div {
  padding: 5px;
  background-color: rgb(197, 182, 161, 0.9);
  color: black;
}

#chat-container > div:nth-child(odd) {
  background-color: rgb(55, 50, 45, 0.9);
  color: white;
}

#games-page,
#game-page,
#new-game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#games-container {
  display: flex;
  justify-content: center;
  list-style: none;
  border: 1px solid black;
  background-color: rgb(197, 182, 161, 0.1);
  width: 90vw;
  overflow-y: auto;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: auto 5px;
  height: 350px;
  background-color: rgba(76, 62, 62, 0.8);
  border-radius: 2%;
  margin: 20px;
  /* padding: 0px 50px; */
}

.board-container {
  outline: 4px ridge rgb(22, 20, 20);
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 5px;
  border-radius: 5%;
  background-color: rgb(83, 69, 69);
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.game-thumbnail {
  border: 1px solid black;
  margin: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  background-color: rgba(8, 6, 6, 0.8);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 5%;
  margin: 10px;
  min-width: 150px;
  min-height: 30px;
}

button,
.button {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0 2px;
  background-color: rgba(8, 6, 6, 0.8);
  color: rgb(255, 253, 243);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover,
.button:hover {
  background-color: rgb(229, 227, 216);
  color: rgba(8, 6, 6, 0.9);
}

button:focus,
button:active,
.button:focus,
.button:active {
  outline: none;
  box-shadow: none;
}

#navbar button {
  margin: 0 10px;
  background-color: rgba(8, 6, 6, 0);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#navbar button:hover {
  background-color: rgb(229, 227, 216, 1);
  color: rgba(8, 6, 6, 0.9);
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-message {
  animation: flash 1.5s infinite;
}
